@import "tailwindcss";

:root {
  font-family: var(--font-sans);
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

@theme {
  --font-sans: InterVariable, sans-serif;
}
