@import "reset.css";

:root {
  color-scheme: light dark;
}

body {
  font-family: "SF Pro", sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 0 1rem;
}

form {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.75rem;
}

h1 {
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-block-end: 1.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: -0.5rem;
  /*gap: 0.5rem;*/

  li {
    display: flex;
    gap: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    white-space: nowrap;

    &:hover {
      background-color: light-dark(
        hsl(from Canvas h s calc(l - 5)),
        hsl(from Canvas h s calc(l + 10))
      );
    }

    & > span {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > svg {
      flex-shrink: 0;
    }
  }
}

button {
  font-weight: 500;
}

.btn-flag {
  background: none;
  border: none;
  color: light-dark(hsl(from Canvas h s calc(l - 50)), hsl(from Canvas h s calc(l + 30)));

  &.important {
    color: hsl(from red calc(h + 10) calc(s - 30) l);
  }
}
