@import "reset.css";

:root {
  color-scheme: light dark;
}

body {
  font-family: "SF Pro", sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
}

form {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.75rem;
}

h1 {
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-block-end: 1.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  font-weight: 500;
}
